<template>
  <div class="q-pa-lg">
   
       
        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="main">
            <!-- <div class="text-h6">Mails</div> -->
                 <q-table row-key="name" :columns="table.columns" :data="table.data">
                    <template v-slot:body-cell-actions="props">
                        <q-td :props="props">
                        <q-btn dense round flat color="grey"  ></q-btn>
                        <q-btn dense round flat color="blue" @click="{tab='pay'}" icon="payment"></q-btn>
                        </q-td>          
                    </template>
                </q-table>
          </q-tab-panel>

          <q-tab-panel name="pay">
            <div class="text-h6">Payment</div>
                <div class="row">
                    <div class="col q-pa-lg">
                        <q-input
                            disable 
                            readonly
                            filled
                            label="Reference No."
                            label-color="dark"
                            v-model="form1.ref_no"
                            ref="ref_no"
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-lg">
                        <q-input
                            disable 
                            readonly
                            filled
                            label="Date"
                            label-color="dark"
                            v-model="form1.date"
                            ref="date"
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-lg">
                        <q-input
                            disable
                            outlined
                            readonly
                            filled
                            label="Service Availed"
                            label-color="dark"
                            v-model="form1.service"
                            ref="service"
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-lg">
                        <q-input
                            readonly
                            disable
                            filled
                            label="Expiry Date"
                            label-color="dark"
                            v-model="form1.exp_date"
                            ref="exp_date"
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-lg">
                        <q-input
                            
                            disable
                            filled
                            label="Total Amount"
                            label-color="dark"
                            v-model="form1.total"
                            ref="total"
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                </div>
                <div class="row q-pa-lg text-center">
                    <div class="col">
                        <q-btn flat class="q-pa-xs common-button" >
                            <img style="height:150px;width:150px" src="~assets/gcash.png">
                         </q-btn>
                    </div>
                    <div class="col">
                        <q-btn flat class="q-pa-xs common-button" >
                            <img style="height:150px;width:150px" src="~assets/pesopay.jpg">
                         </q-btn>
                    </div>
                    <div class="col">
                        <q-btn flat class="q-pa-xs common-button" >
                            <img style="height:150px;width:150px" src="~assets/payloro.png">
                         </q-btn>
                    </div>
                    <div class="col">
                        <q-btn flat class="q-pa-xs common-button" >
                            <img style="height:150px;width:150px" src="~assets/paymaya.png">
                         </q-btn>
                    </div>
                          
                          
                        
                </div>
                <div class="row q-pa-md">
                    <div class="col-10"></div>

                    <div class="col">
                        <q-btn @click="tab='main'" class="common-button " label="Cancel" ></q-btn>
                         <q-btn flat @click="confirm=true"  label="Pay" class="q-ml-sm common-button " ></q-btn>
                    </div>
                    
                </div>
          </q-tab-panel>
        </q-tab-panels>

          

      
    <q-dialog v-model="confirm" style="color:green">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm">Are you sure you want to continue?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="grey" v-close-popup />
          <q-btn flat label="OK" color="grey" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
  
</template>

<script>
export default {
    data: function () {
    return {
      table: {
      	columns: [
        	{ name: 'ref_no', label: 'Payment Reference #', field: 'ref_no', sortable: true },
          { name: 'agency', label: 'Agency', field: 'agency', sortable: true },
          { name: 'create_date', label: 'Create Date', field: 'create_date', sortable: true },
          { name: 'exp_date', label: 'Expiry Date', field: 'exp_date', sortable: true },
          { name: 'total_amount', label: 'Total Amount (Including Service Fee)', field: 'total_amount', sortable: true },
          { name: 'service', label: 'Service Availed', field: 'service', sortable: true },
          { name: 'actions', label: 'Action',field:'' , sortable: true }
        ],
        data: [
        	{ ref_no: '000-212-000', agency:"TLCI",
            create_date:"January 04, 2022",exp_date:"January 31,2022",total_amount:"1050.00",service:"Business Open" },
         
        ]
      },
      confirm:false,
      tab:"main",
      form1:{
            ref_no: '000-212-000',
            agency:"TLCI",
            date:"January 04, 2022",
            exp_date:"January 31,2022",
            total:"1050.00"
            ,service:"Business Open" }
    }
  },
  methods: {
      payment(data){
    //       useQuasar.dialog({
    //         title: 'Confirm',
    //         message: 'Would you like to turn on the wifi?',
    //         cancel: true,
    //         persistent: true
    //     }).onOk(() => {
    //         // console.log('>>>> OK')
    //     }).onOk(() => {
    //         // console.log('>>>> second OK catcher')
    //     }).onCancel(() => {
    //         // console.log('>>>> Cancel')
    //     }).onDismiss(() => {
    //         // console.log('I am triggered on both OK and Cancel')
    //     })
      }
	}
}
</script>