<template >
  <q-item 
    clickable
    tag="a"
    :href="link"
  >
    <q-item-section 
      v-if="icon"
      avatar
      style="color:#009999"
    >
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section style="color:#009999">
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'AdminSideLink',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    }
  }
}
</script>
