// app global css in Sass form

body
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
        

.common-button
    background-color: rgb(255, 255, 255)!important
    border: 2px solid #099!important
    font-weight: 700
    color:#099

.link-header-top
    font-weight:700
    border-bottom: 1px solid #eee
    background:white
.link-header
    border-bottom: 1px solid #eee
    background:white
    border-top: 1px solid #eee    
     
