<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
        <q-toolbar>
      
            <q-btn
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="leftDrawerOpen = !leftDrawerOpen"
            style="color:#104b8b"
            />
            <q-toolbar-title>
                <img
                alt="Quasar logo"
                src="~assets/dict_logo.png"
                style="width:100px"
                >
            </q-toolbar-title>
               
                <div class="text-white float-right " >
                    <q-toolbar>
                        <q-btn flat  dense  label="Help & Support" class="q-mr-lg common-button q-pa-1"  />
                        <q-btn flat  dense  label="Contact Us" class="q-mr-lg common-button q-pa-1"  />
                        <q-btn flat  dense  label="Logout" class="q-mr-lg common-button q-pa-1" />
                    </q-toolbar>
                    <!-- <q-toolbar inset> -->
                        <q-toolbar class="text-center">
                            <q-btn flat style="color:#104b8b" class="q-pa-xs q-mr-md" dense  icon="home"   />
                            <q-btn flat style="color:#104b8b" class="q-pa-xs q-mr-md" dense  label="CBP"  />
                            <q-btn flat style="color:#104b8b" class="q-pa-xs q-mr-md" dense  label="PayCentre" />
                            <q-btn flat style="color:#104b8b" class="q-pa-xs q-mr-md" dense  label="Register Business" />
                        <!-- </q-toolbar> -->
                        <!-- </q-toolbar> -->
                        <!-- <q-breadcrumbs active-color="#104b8b" style="font-size: 16px;color:#104b8b">
                            <q-breadcrumbs-el  icon="home"  />
                            <q-breadcrumbs-el label="CBP" />
                            <q-breadcrumbs-el label="PayCentre" />
                            <q-breadcrumbs-el label="Register Business" />
                        </q-breadcrumbs> -->
                    </q-toolbar>
                </div>
        </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list >
        <q-item-label
          header
          class="text-grey-8 q-pa-lg  text-center link-header-top"
        >
          VNBOSS
        </q-item-label>

        <!--  -->
        

      <q-separator />

      <q-expansion-item :default-opened="defaultOpen" >
        <template v-slot:header>
          <q-item-section avatar>
            <q-item-section avatar>
            <q-icon color="grey" name="payment" />
          </q-item-section>

          </q-item-section>

          <q-item-section >
              Manage PayPartner
          </q-item-section>
        </template>
        <q-separator />
        <q-card>
          <q-card-section>
            <EssentialLinks style="font-size:12px;"
        
              v-for="link in essentialLinks"
              :key="link.title"
              v-bind="link"
            />
          </q-card-section>
        </q-card>
      </q-expansion-item>

      <q-separator />

      <q-expansion-item :default-opened="defaultOpen">
        <template v-slot:header>
          <q-item-section avatar>
            <q-icon color="grey" name="groups" />
          </q-item-section>

          <q-item-section>
           Manage Agency Partner
          </q-item-section>
        </template>
        <q-separator />
        <q-card>
          <q-card-section>
            <EssentialLinks2 style="font-size:12px"
    
              v-for="link in essentialLinks2"
              :key="link.title"
              v-bind="link"
            />
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-expansion-item :default-opened="defaultOpen">
        <template v-slot:header>
          <q-item-section avatar>
            <q-icon color="grey" name="summarize" />
          </q-item-section>

          <q-item-section label-color="grey">
            Report
          </q-item-section>
        </template>
        <q-separator />
        <q-card>
          <q-card-section>
            <EssentialLinks3 style="font-size:12px"
    
              v-for="link in essentialLinks3"
              :key="link.title"
              v-bind="link"
            />
          </q-card-section>
        </q-card>
      </q-expansion-item>
        <!--  -->
       

        
        
        
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLinks from 'components/AdminSideLink.vue'
import EssentialLinks2 from 'components/AdminSideLink.vue'
import EssentialLinks3 from 'components/AdminSideLink.vue'
import { ref } from 'vue'

const payPartnerLinks = [
  {
    title: 'Add PayPartner',
    caption: '',
    icon: 'add',
    link: '/#/admin/pay-partner/add'
  },
  {
    title: 'Update PayPartner Profile',
    caption: '',
    icon: 'edit',
    link: '/admin/pay-partner/update-payment'
  },
  {
    title: 'Delist PayPartner',
    caption: '',
    icon: 'remove',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Suspend PayPartner',
    caption: '',
    icon: 'delete',
    link: 'https://twitter.quasar.dev'
  },
  ]

  const agencyPartnerLinks = [
  
  {
    title: 'Add Agency Partner',
    caption: '',
    icon: 'add',
    link: '/#/admin/agency-partner/add'
  },
  {
    title: 'Update Agency Parnter Profile',
    caption: '',
    icon: 'edit',
    link: 'https://awesome.quasar.dev'
  },
  {
    title: 'Delist Agency Partner',
    caption: '',
    icon: 'remove',
    link: 'https://awesome.quasar.dev'
  },
  {
    title: 'Suspend Agency Partner',
    caption: '',
    icon: 'delete',
    link: 'https://awesome.quasar.dev'
  }]
  const reportLinks = [

  {
    title: 'Standard',
    caption: '',
    icon: 'outbox',
    link: 'https://awesome.quasar.dev'
  },
  {
    title: 'Demand',
    caption: '',
    icon: 'tag',
    link: 'https://awesome.quasar.dev'
  }

];

export default {
  name: 'AdminLayout',
  components: { EssentialLinks , EssentialLinks2 , EssentialLinks3 },
  data () {
    return {
      leftDrawerOpen: true,
      essentialLinks: payPartnerLinks,
      essentialLinks2: agencyPartnerLinks,
      essentialLinks3: reportLinks,
      defaultOpen:true
    
    }
  }
}
</script>
