<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
      
            <q-btn
            flat
            dense
            round
            icon="menu"
            aria-label="Menu"
            @click="leftDrawerOpen = !leftDrawerOpen"
            style="color:#104b8b"
            />
            <q-toolbar-title>
                <img
                alt="Quasar logo"
                src="~assets/dict_logo.png"
                style="width:100px"
                >
            </q-toolbar-title>
               
                <div class="text-white float-right " >
                    <q-toolbar>
                        <q-btn flat  dense  label="Help & Support" class="q-mr-lg common-button q-pa-1"  />
                        <q-btn flat  dense  label="Contact Us" class="q-mr-lg common-button q-pa-1"  />
                        <q-btn flat  dense  label="Logout" class="q-mr-lg common-button q-pa-1" />
                    </q-toolbar>
                      <q-toolbar class="text-center">
                          <q-btn flat style="color:#104b8b" class="q-pa-xs q-mr-md" dense  icon="home"   />
                          <q-btn flat style="color:#104b8b" class="q-pa-xs q-mr-md" dense  label="CBP"  />
                          <q-btn flat style="color:#104b8b" class="q-pa-xs q-mr-md" dense  label="PayCentre" />
                          <q-btn flat style="color:#104b8b" to="/register" class="q-pa-xs q-mr-md" dense  label="Register Business" />
                        
                    </q-toolbar>
                </div>
        </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list >
        <q-item-label
          header
          class="text-grey-8 q-pa-lg  text-center link-header-top"
        >
          VNBOSS
        </q-item-label>
       

        <q-item class="text-center q-pa-sx link-header">
            
            <q-item-section>
                <q-item-label caption >
                    Manage Payment Partner
                </q-item-label>
            </q-item-section>
        </q-item>
        <EssentialLink style="font-size:12px;"
    
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>
