<template>
    <q-page>
    <div class="q-pa-md" >
    
        <q-form class="q-gutter-md">
            
        
            <q-card  class="my-card text-center q-pa-lg">
                    <q-stepper
                        v-model="step"
                        header-nav
                        ref="stepper"
                        active-color="secondary"
                        done-color="green"
                        animated
                    >
                        <q-step
                        :name="1"
                        title="Business Information"
                        icon="settings"
                        :done="step > 1"
                        :header-nav="step > 1"
                        >
                            <q-card-section>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Application Ref #"
                                            label-color="dark"
                                            v-model="form1.ref_no"
                                            ref="ref_no"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                            
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            type="date"
                                            filled
                                            label="Date"
                                            label-color="dark"
                                            v-model="form1.date"
                                            ref="date"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                        />
                                    </div>
                                </div>
                            </q-card-section>
                            <q-card-section>
                                <div class="text-h6">Authorized Representative</div>
                            </q-card-section>

                            <q-separator  />

                            <q-card-section>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Last Name"
                                            label-color="dark"
                                            v-model="form1.lname"
                                            ref="lname"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="First Name"
                                            label-color="dark"
                                            v-model="form1.fname"
                                            ref="fname"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="City/Municipality"
                                            label-color="dark"
                                            v-model="form1.city"
                                            ref="city"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Address"
                                            label-color="dark"
                                            v-model="form1.position"
                                            ref="position"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Division/Department"
                                            label-color="dark"
                                            v-model="form1.dept"
                                            ref="dept"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Contact Number"
                                            label-color="dark"
                                            v-model="form1.contact"
                                            ref="contact"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Email Address"
                                            label-color="dark"
                                            v-model="form1.email"
                                            ref="email"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                </div>
                            </q-card-section>

                            <q-card-section>
                                <div class="text-h6">Company Details</div>
                            </q-card-section>

                            <q-separator  />

                            <q-card-section>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Company Name"
                                            hlabel-color="dark"
                                            v-model="form1.company"
                                            ref="company"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Trade Name"
                                            label-color="dark"
                                            v-model="form1.trade_name"
                                            ref="trade_name"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Region"
                                            label-color="dark"
                                            v-model="form1.region"
                                            ref="region"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Province"
                                            label-color="dark"
                                            v-model="form1.province"
                                            ref="province"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="City / Municipality"
                                            label-color="dark"
                                            v-model="form1.city"
                                            ref="city"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Address"
                                            label-color="dark"
                                            v-model="form1.address"
                                            ref="address"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    
                                    <div class="col-4 q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Barangay"
                                            label-color="dark"
                                            v-model="form1.brgy"
                                            ref="brgy"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                </div>
                            </q-card-section>
                        
                
                            <q-stepper-navigation>
                                <q-btn @click="() => { done1 = true; step = 2 }" class="common-button float-right" label="Continue" ></q-btn>
                            </q-stepper-navigation>
                        </q-step>
                        <q-step
                        :name="2"
                        title="Other Details"
                        icon="settings"
                        :done="step > 2"
                        :header-nav="step > 2"
                        >
                            
                            <q-card-section>
                                <div class="text-h6">Bank Details</div>
                            </q-card-section>

                            <q-separator  />

                            <q-card-section>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Bank Name"
                                            label-color="dark"
                                            v-model="form2.bank_name"
                                            ref="bank_name"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Brank"
                                            label-color="dark"
                                            v-model="form2.branch"
                                            ref="branch"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Account Type"
                                            label-color="dark"
                                            v-model="form2.account_type"
                                            ref="account_type"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Account Number"
                                            label-color="dark"
                                            v-model="form2.account_no"
                                            ref="account_no"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Swift Code"
                                            label-color="dark"
                                            v-model="form2.swift_code"
                                            ref="swift_code"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Bank Code"
                                            label-color="dark"
                                            v-model="form2.bank_code"
                                            ref="bank_code"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                </div> -->
                            </q-card-section>

                            <q-card-section>
                                <div class="text-h6">Bank Address</div>
                            </q-card-section>

                            <q-separator  />

                            <q-card-section>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Region"
                                            label-color="dark"
                                            v-model="form3.b_region"
                                            ref="b_region"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Province"
                                            label-color="dark"
                                            v-model="form3.b_province"
                                            ref="b_province"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="City/Municipality"
                                            label-color="dark"
                                            v-model="form3.b_city"
                                            ref="b_city"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Address"
                                            label-color="dark"
                                            v-model="form3.b_address"
                                            ref="b_address"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col-4 q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Barangay"
                                            label-color="dark"
                                            v-model="form3.b_brgy"
                                            ref="b_brgy"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <!-- <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Contact Number"
                                            label-color="dark"
                                            v-model="form3.c_contact"
                                            ref="c_contact"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div> -->
                                </div>
                                <!-- <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-input
                                            filled
                                            label="Email Address"
                                            label-color="dark"
                                            v-model="form1.c_email"
                                            ref="c_email"
                                            :dense="dense"
                                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                                            lazy-rules
                                        />
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                    <div class="col q-pa-xs q-ma-xs">
                                        
                                    </div>
                                </div> -->
                            </q-card-section>
                        
                
                            <q-stepper-navigation>
                                <q-btn flat @click="step = 1"  label="Back" class="q-ml-sm common-button float-left" ></q-btn>
                                <q-btn @click="() => { done1 = true; step = 3 }" class="common-button float-right" label="Continue" ></q-btn>
                            </q-stepper-navigation>
                        </q-step>
                
                        <q-step
                        :name="3"
                        title="Files & Documents"
                        caption="Optional"
                        icon="create_new_folder"
                        :done="step > 3"
                        :header-nav="step > 3"
                        >
                            <q-card-section>
                                <div class="text-h6">Download</div>
                                
                            </q-card-section>

                            <q-separator  />

                            <q-card-section>
                                
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-btn size="md"  color="secondary"  icon-right="download" label="Memorandom of Aggreement" />
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-btn color="secondary" icon-right="download" label="Non-Disclosure Aggreement" />
                                    </div>
                                    
                                </div>
                                
                            </q-card-section>
                            <q-card-section>
                                <div class="text-h6">Upload</div>
                                <div class="text-subtitle2">( Please limit file size to 3mb , PDF file only )</div>
                            </q-card-section>

                            <q-separator  />

                            <q-card-section>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-file filled bottom-slots v-model="form3.rol" label-color="dark" label="Select File" counter>
                                            <template v-slot:prepend>
                                            <q-icon name="cloud_upload" @click.stop />
                                            </template>
                                            <template v-slot:append>
                                            <q-icon name="close" @click.stop="form3.rol = null" class="cursor-pointer" />
                                            </template>

                                            <template v-slot:hint>
                                            Field hint
                                            </template>
                                        </q-file>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-file filled bottom-slots v-model="form3.moa" label-color="dark" label="Select File" counter>
                                            <template v-slot:prepend>
                                            <q-icon name="cloud_upload" @click.stop />
                                            </template>
                                            <template v-slot:append>
                                            <q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
                                            </template>

                                            <template v-slot:hint>
                                            Field hint
                                            </template>
                                        </q-file>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-file filled bottom-slots v-model="form3.nda" label-color="dark" label="Select File" counter>
                                            <template v-slot:prepend>
                                            <q-icon name="cloud_upload" @click.stop />
                                            </template>
                                            <template v-slot:append>
                                            <q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
                                            </template>

                                            <template v-slot:hint>
                                            Field hint
                                            </template>
                                        </q-file>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col q-pa-xs q-ma-xs">
                                        <q-uploader
                                            url="http://localhost:4444/upload"
                                            color="teal"
                                            flat
                                            bordered
                                            class="float-right"
                                        />
                                    </div>
                                    
                                </div>
                                
                            </q-card-section>
                
                        <q-stepper-navigation>
                            <q-btn @click="submitApplication()" class="common-button float-right" label="Submit" ></q-btn>
                            <q-btn flat @click="step = 2"  label="Back" class="q-ml-sm common-button float-left" ></q-btn>
                        </q-stepper-navigation>
                        </q-step>
                
                        
                    </q-stepper>
                        
                       
                
                <!-- <q-card-section >
                    <div class="row">
                        <div class="col"><q-btn label="Next"  class="common-button float-right " /></div>
                    </div>
                    
                </q-card-section> -->
            </q-card>
            
            
        </q-form>

    </div>
   </q-page> 
</template>
<script>
export default {
    data () {
    return {
        form1:[],
        form2:[],
        form3:[],
        step: 1,
        address: 'an address',
    }
  },
  methods: {
    click() {
      console.log('clicked')
    }
  }
}
</script>