<template>
  <q-page>
    <div class="q-pa-md">
        <q-card class="my-card">
            <q-card-section>
                <div class="text-h6 text-center">Pay Partner</div>
            </q-card-section>
            
            <q-separator inset />
            <q-card-section>
                <div class="row">
                    <div class="col">
                        chart
                    </div>
                    <div class="col">
                        <div class="row" style="border:1px solid #ddd;height:100px">
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                3
                            </div>
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                Assessment
                            </div>
                        </div>
                        <div class="row" style="border:1px solid #ddd;height:100px">
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                3
                            </div>
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                Integration
                            </div>
                        </div>
                    </div>
                    <div class="co-3 text-center q-pa-md">
                        <q-table row-key="name" :columns="table.columns" :data="table.data">
                            <template v-slot:body-cell-actions="props">
                                <q-td :props="props">
                                <q-btn dense round flat color="grey"  ></q-btn>
                                <q-btn dense round flat color="blue" @click="{tab='pay'}" icon="payment"></q-btn>
                                </q-td>          
                            </template>
                        </q-table>
                        <q-btn  class="common-button q-mt-md" label="PENDING FOR APPROVAL"> </q-btn>
                    </div>
                </div>
            </q-card-section>

            <q-separator inset />
            <!-- for Agency -->
            <q-card-section>
                <div class="text-h6 text-center">Agency Partner</div>
            </q-card-section>
            
            <q-separator inset />
            <q-card-section>
                <div class="row">
                    <div class="col">
                        chart
                    </div>
                    <div class="col">
                        <div class="row" style="border:1px solid #ddd;height:100px">
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                3
                            </div>
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                Assessment
                            </div>
                        </div>
                        <div class="row" style="border:1px solid #ddd;height:100px">
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                3
                            </div>
                            <div class="col text-center q-pa-lg" style="font-size:20px">
                                Integration
                            </div>
                        </div>
                    </div>
                    <div class="co-3 text-center q-pa-md">
                        <q-table row-key="name" :columns="table.columns" :data="table.data">
                            <template v-slot:body-cell-actions="props">
                                <q-td :props="props">
                                <q-btn dense round flat color="grey"  ></q-btn>
                                <q-btn dense round flat color="blue" @click="{tab='pay'}" icon="payment"></q-btn>
                                </q-td>          
                            </template>
                        </q-table>
                        <q-btn  class="common-button q-mt-md" label="PENDING FOR APPROVAL"> </q-btn>
                    </div>
                </div>
            </q-card-section>
      </q-card>

        
 </div>
  </q-page>
</template>

<script>

export default {
  name: 'AdminDashboard',
  mounted(){

  },
  data () {
    return {
      table: {
      	columns: [
        	{ name: 'ref_no', label: 'Payment Reference #', field: 'ref_no', sortable: true },
            { name: 'create_date', label: 'Create Date', field: 'create_date', sortable: true },
            { name: 'company', label: 'Company', field: 'company', sortable: true },
         
        ],
        data: [
        	{ ref_no: '000-212-000', create_date:"01 04, 2022",company:"TLCI"},
         
        ]
      }
    }
  }
}
</script>