<template>
  <div class="fullscreen text-center q-pa-md flex flex-center ">
      
    <div class="row shadow-6" style="padding:10px ">
      <q-form ref="myForm">
        <div class="col-12">
          <div class="col-12" style="padding:20px">
              <div class="text-h5">L O G I N</div>
              <div class="text-caption">Do you want to create an account? Ask the <a href=#>Administrator</a></div>
          </div>
          <div class="col-12">
            <div class="col-2" />
            <div class="col-8" style="padding:20px">
              <q-input bottom-slots v-model="username" label="Username" required>
                <template v-slot:prepend>
                  <q-icon name="person" />
                </template>
                <template v-slot:hint>
                  <span class="float-right text-red">{{userError}}</span>
                </template>
                  </q-input>
                  <q-input bottom-slots v-model="password" type="password"  label="Password " required>
                <template v-slot:prepend>
                  <q-icon name="vpn_key" />
                </template>

                <template v-slot:hint>
                  <span class="float-right text-red">{{passError}}</span>
                </template>
              </q-input>
              <template>
                <div class="q-pa-md">
                  <div class="q-gutter-sm">
                    <q-checkbox dense v-model="rememberme" label="Keep me logged in" color="teal" />
                    <div class="text-caption text-center "><a href=""> Forgot password? </a></div>  
                  </div>
                </div>
              </template> 
            </div>
          </div>
          <div class="col-12">
            <div class="col-2"></div>
            <div class="col-8" style="padding:10px">
              <template>
                <q-btn color="green-10" @click="login" class="full-width"  icon="login" label="Log In" />
              </template>
            </div>
          </div>
        </div>
      </q-form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'AdminLogin',
  mounted(){
    if(this.$store.dispatch('admin/checkAuthorization')) this.$router.push('/admin');
  },
  data(){
    return {
      rememberme:false,
      username:'',
      password:'',
      userError:'',
      passError:''
      }
  },
  methods:{
   
    login:async function(){
      !this.username ? this.userError = 'Username is required!' : this.userError = '';
      !this.password ? this.passError = 'Password is required!' : this.passError = '';

      if(this.password && this.username){
        // console.log(this.username,this.password);
       const result = await this.$axios.post('/admin/login',{username:this.username,password:this.password})
      //  console.log(result ,"ez");
       if(result.data.status == 'OK'){
        //  console.log(this);
        this.$store.dispatch('admin/userAuthenticate',result.data.accessToken);
        this.$store.commit('admin/setUserIsAuthenticated', true);
        this.$store.commit('admin/setUserAccessToken', result.data.accessToken);
        this.$router.push('/admin');

       }
      }
    }
  }
}
</script>
