<template>
  <q-page>
    <div class="q-pa-md">
        <q-card class="my-card">
            <q-card-section>
                <div class="row">
                    <div class="col text-right">
                        <q-btn  class="secondary" label="Delete" />
                        <q-btn  class="secondary q-ml-xs" label="De-Activate" />
                        <!-- <q-btn  class="common-button" label="update" /> -->
                    </div>
                </div>
                <div class="row q-ma-md q-pa-md">
                   <div class="col">
                       <q-uploader
                         
                            url="http://localhost:4444/upload"
                            label="Select Avatar (png only)"
                            text-color="grey"
                            multiple
                            :filter="checkFileType"
                            @rejected="onRejected"
                        />
                    </div>
                </div>
                <q-separator />
                <div class="row ">
                    <div class="col q-pa-xs q-ma-xs">
                        <q-input
                            filled
                            label="Last Name"
                            label-color="dark"
                            v-model="form1.lname"
                            ref="lname"
                            
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-xs q-ma-xs">
                        <q-input
                            filled
                            label="First Name"
                            label-color="dark"
                            v-model="form1.fname"
                            ref="fname"
                            
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-xs q-ma-xs">
                        <q-input
                            filled
                            label="Middle Name"
                            label-color="dark"
                            v-model="form1.mname"
                            ref="mname"
                            
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col q-pa-xs q-ma-xs">
                        <q-input
                            filled
                            label="Position"
                            label-color="dark"
                            v-model="form1.position"
                            ref="position"
                            
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-xs q-ma-xs">
                        <q-input
                            filled
                            label="Division/Department"
                            label-color="dark"
                            v-model="form1.dept"
                            ref="dept"
                            
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-xs q-ma-xs">
                        <q-input
                            filled
                            label="Contact Number"
                            label-color="dark"
                            v-model="form1.contact"
                            ref="contact"
                            
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col q-pa-xs q-ma-xs">
                        <q-input
                            filled
                            label="Email Address"
                            label-color="dark"
                            v-model="form1.email"
                            ref="email"
                            
                            :rules="[val => val && val.length > 0 || 'This fields is required']"
                            lazy-rules
                        />
                    </div>
                    <div class="col q-pa-xs q-ma-xs">
                        
                    </div>
                    <div class="col q-pa-xs q-ma-xs">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col q-pa-xs q-ma-xs text-right">
                        <q-btn  class="common-button" label="update" />
                    </div>
                </div>
            </q-card-section>
        </q-card>
    </div>
    </q-page>
</template>

<script>
export default {
    
    data(){
        function checkFileSize (files) {
        return files.filter(file => file.size < 2048)
        }

        function checkFileType (files) {
        return files.filter(file => file.type === 'image/png')
        }

        function onRejected (rejectedEntries) {
        // Notify plugin needs to be installed
        // https://quasar.dev/quasar-plugins/notify#Installation
        $q.notify({
            type: 'negative',
            message: `${rejectedEntries.length} file(s) did not pass validation constraints`
        })
        }
        return{
            checkFileSize,
            checkFileType,
            onRejected,
            form1:[],
        }
    }
}
</script>

<style>

</style>